<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        .pdf-header{
            text-align:right;
            padding-top: 30px;
            padding-bottom: 30px
        }
    </style>
</head>
<body>
<p class="pdf-header">{{ 'intervention_number'|trans({},'messages',locale) }} : {{intervention.number}}</p>
</body>
</html>