{% extends 'baseBack.html.twig' %}
{% block body %}
    <div class="example-wrapper" id="app">
        <intervention-affect :employees="{{users |json_encode}}"></intervention-affect>
    </div>
{% endblock %}
